h2 {
    background-image: linear-gradient(90deg, blue, purple, pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-weight: 400;
    font-size: 60px;
    text-align: center;
}


.team-info:hover {
    color: #007bff;
  }